
*.pyc
*.pyc
pytesser/__init__.py
pytesser/AUTHORS
pytesser/ChangeLog
pytesser/errors.py
pytesser/fnord.tif
pytesser/fonts_test.png
pytesser/LICENSE
pytesser/NOTICE
pytesser/phototest.tif
pytesser/pytesser.py
pytesser/README
pytesser/tessdata/blackText.params
pytesser/tessdata/configs/api_config
pytesser/tessdata/configs/api_resaljet
pytesser/tessdata/netwts
pytesser/tessdata/inttemp
pytesser/tessdata/freq-dawg
pytesser/tessdata/newdiff.asccodes
pytesser/tessdata/fnetwts
pytesser/tessdata/fmtable.cls
pytesser/tessdata/normproto
pytesser/tessdata/pffmtable
pytesser/tessdata/DangAmbigs
pytesser/tessdata/confsets
pytesser/tessdata/tessconfigs/batch
pytesser/tessdata/tessconfigs/matdemo
pytesser/tessdata/configs/variable_config
pytesser/tessdata/tessconfigs/segdemo
pytesser/tessdata/soptable.cls
pytesser/tessdata/configs/var_box.train
pytesser/tessdata/tessconfigs/old_batch
pytesser/tessdata/tessconfigs/var_batch
pytesser/tessdata/test_matrix
pytesser/tessdata/user-words
pytesser/tessdata/configs/var_api_config
pytesser/tessdata/configs/oldbox.train
pytesser/tessdata/configs/oldapi_config
pytesser/tessdata/word-dawg
pytesser/tessdata/configs/inter
pytesser/tessdata/configs/box.train
pytesser/tesseract.exe
pytesser/util.py
rpc/log_client
rpc/log_client
rpc/log_server
